h3{
    font-family: Arial rgb(58, 106, 114);
}

.nav-link {
    color: #fff!important;
}
.nav-link:hover {
    color: #cecece!important;
}
.moldura-esquerdo {
    flex: 1;
    height: 10px;
    background-color: green;
}
.moldura-direito {
    flex: 1;
    height: 10px;
    background-color: blue;
}