@import url('https://fonts.googleapis.com/css2?family=Alice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html *{
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #d3d3d3;
}

.moldura-esquerdo {
    flex: 1;
    height: 10px;
}
.moldura-direito {
    flex: 1;
    height: 10px;
}

.top-up-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}

.logo-title * {
    text-transform: uppercase;
    font-family: 'Alice', serif;
    font-size: 30px;
}
.logo-title-green {
    color: #0D9F3E;
}
.logo-subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
.logo-text {
    line-height: 130%;
}
.bg-primary, .btn-primary {
    background-color: #23694D!important;
}
.bg-success, .btn-success {
    background-color: #0D9F3E;
}
.hero-item-text-block {
    bottom: 20%;
    left: 5%;
}